p{
    color:#6b748a;
}
input.error, textarea.error{
    border:solid thin red;
}
label.error{
    display:none !important;
}


/*
    Header
 */

#masthead .navbar-header img{
    max-width:180px;
    height:auto;
}
.nav-no-shadow img.scroll, .nav-shadow img.standard{
    display:none;
}
.main-navigation .navbar-brand{
    height:auto;
}
.main-navigation .menu-buttons{
    margin-top:1.5rem;
}

.site-header .title-centered-content .header-image, .site-header .title-centered-content .header-text{
    left:auto;
}

@media (max-width: 991px){
    .site-header .title-centered-content .header-image{
        margin-top:100px;
    }
    .site-header .title-centered-content .header-text{
        padding-top:1.5rem;
    }
}

/*
    Banner
 */

#banner h3{
    color:#ffffff;
    margin-bottom:5px;
}
#banner form input{
    margin-bottom:10px;
    width:85%;
}
.site-header .title-centered-content .title-desc p{
    font-size:1.5rem;
}

@media (max-width: 991px){
    #banner form input{
        margin-bottom:10px;
        width:100%;
    }
}



/*
    Feature List
 */

#features---2 div.col-md-4{
    height:175px;
}
.features .feature-second-color i{
    color:#0e83b7;
}



/*
    Try it Free Section
 */

.cta{
    background-color:#0e83b7;
}

.cta a{
    color:#0e83b7;
}
.cta h2{
    color: #ffffff;
}


/*
    About
 */

#about---1 img{
    max-width:200px;
}
.about-1 ul li:before, .about-2 ul li:before, .about-3 ul li:before, .about-4 ul li:before, .about-5 ul li:before, .about-6 ul li:before{
    color:#6b748a;
}



/*
    Careers
 */

.careers-content{
   padding-top:150px;
}

#career-contact{
    margin-bottom:50px;
}
#career-contact input:not([type=submit]){
    margin-bottom:10px;
}



/*
    FAQ
 */
#faq---2 .panel-heading h4 a{
    display:flex;
}
#faq---2 .panel-heading h4 a span:first-child{
    padding-left:5px;
}
#faq---2 .panel-heading h4 a span:last-child{
    padding-left:10px;
}

@media (max-width: 767px){
    #faq---2 .panel-heading h4 a{
        line-height:1.75rem;
    }
}



/*
    Fly Out
 */
.side-fly-out {
    background: #fff;
    position: fixed;
    right: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    padding: 10px 20px 0;
    text-align: center;
    z-index: 9999;
}

@media (max-width: 767px){
    .side-fly-out{
        width: 100%;
    }
}

.exit-image{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.side-fly-out > div:not(.exit-image){
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.side-fly-out.shadow{
    box-shadow: 0 0 5px #000;
}

.side-tab{
    position: fixed;
    box-sizing: border-box;
    padding: 0.375rem 1.5rem;
    right: 0;
    top: 50%;
    background-color: #0e83b7;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: solid 1px #1b6b91;
    z-index: 99;
    cursor: pointer;
    color:#ffffff;
}



/*
    Corrections
 */
.cta-button .button-full:hover{
    background-color:#0e83b7;
}

.contact-form-section .form-bg{
    background:none;
}